<html>
    <head>
        {% include "notebook-header.html" %}
        {% include "notebook-styles.html" %}
    </head>
    <body>
        <div class="header">
            <div class="header content">
				<a target="_blank" href="https://github.com/{{ page.org_name }}/{{ page.repo_name }}">
                	<img class="logo" src="/images/Jspectra.svg" alt="JWST Data Analysis Notebooks"/>
                </a>
				<a href="https://github.com/{{ page.org_name }}/{{ page.repo_name }}", target="_blank" class="button" style="color: white !important">
					Download Notebook
				</a>
                <div class="search">
                    <div class="searchbox"></div>
                    <div class="searchbutton">
                        Filter Notebooks
                    </div>
                </div>
            </div>

        </div>
        <div style="padding:40px 80px;">
            {{ notebook_content | safe }}
        </div>
    </body>
</html>
