<html>
    <head>
        {% include "header.html" %}
        {% include "notebook-styles.html" %}
    </head>
    <body>
        <div class="header">
            <div class="header content">
                <img class="logo" src="/images/Jspectra.svg" alt="JWST Data Analysis Notebooks"/>
                <div class="search">
                    <div class="searchbox"></div>
                    <div class="searchbutton">
                        Filter Notebooks
                    </div>
                </div>
            </div>
        </div>

        <div style="padding:40px 80px;">
            {{ notebook_content | safe }}
        </div>
    </body>
</html>
