# GitHub Actions workflow for testing and continuous integration.
#
# This file performs testing using tox and tox.ini to define and configure the test environments.

name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  # Github Actions supports ubuntu, windows, and macos virtual environments:
  # https://help.github.com/en/actions/reference/virtual-environments-for-github-hosted-runners
  ci_tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - name: Code style checks
            os: ubuntu-latest
            python: 3.x
            toxenv: codestyle

          - name: PEP 517
            os: ubuntu-latest
            python: 3.x
            toxenv: pep517

          - name: Security audit
            os: ubuntu-latest
            python: 3.x
            toxenv: securityaudit

          - name: Linux - Python 3.7
            os: ubuntu-latest
            python: 3.7
            toxenv: py37-test

          - name: OS X - Python 3.7
            os: macos-latest
            python: 3.7
            toxenv: py37-test

          - name: Windows - Python 3.7
            os: windows-latest
            python: 3.7
            toxenv: py37-test

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up python ${{ matrix.python }} on ${{ matrix.os }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
    - name: Install base dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install tox
    - name: Test with tox
      run: |
        tox -e ${{ matrix.toxenv }}
    # Activate your repo on codecov.io first.
    - name: Upload coverage to codecov
      if: "contains(matrix.toxenv, '-cov')"
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
